{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended",
    "alloy",
    "alloy/typescript"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}